body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form {
    border: 2px solid black;
    padding: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    background: gray;
    margin: auto;
}
form input,
textarea {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 3px 0;
    padding: 10px;
    border: 1px solid plum;
    font-size: 18px;
    border-radius: 10px;
    outline: none;
    color: blue;
}